@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazıçının yazarları</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Tarixi</th>
        <th>Kateqorya</th>
        <th>Status</th>
        <th>Sil</th>
        <th>Yenilə</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID</td>
            <td>@item.BlogTitle</td>
            <td>@item.BlogCreateDate.ToString("dd-MM-yyyy")</td>
            <td>@item.Category.CategoryName </td>
            <td>@item.BlogStatus</td>
            <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Düzəlt</a></td>
        </tr>
    }
</table>
<a href="/Blog/AddBlog" class="btn btn-primary">Yeni Blog Yarat</a>

