@model Message
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Mesaj</h1>
@Html.Label("Kimdən")
@Html.TextBoxFor(p => p.Sender.WriterName, new { @class = "form-control" })
<br />
@Html.Label("Mövzu")
@Html.TextBoxFor(p => p.Subject, new { @class = "form-control" })
<br/>
@Html.Label("Mesaj")
@Html.TextAreaFor(p => p.MessageDetails,20,3, new { @class = "form-control" })
<br />
